/* Reset một số thuộc tính mặc định của trình duyệt */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Đặt nền cho toàn bộ trang */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #00c6ff, #0072ff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Chứa box đăng nhập */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

/* Thiết kế box đăng nhập */
.login-box {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; /* Giới hạn chiều rộng tối đa */
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

/* Định dạng các ô nhập liệu */
.textbox {
    margin-bottom: 20px;
    position: relative;
    width: 100%;
}

.textbox input {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease;
}

.textbox input:focus {
    border-color: #0072ff;
}

/* Nút đăng nhập */
.btn-login {
    width: 100%;
    padding: 15px;
    background-color: #0072ff;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-login:hover {
    background-color: #005bb5;
}

.login-title{
    font-size: 17px;
    font-weight: bold;
    color: #040484;
    text-align: center;
    margin-bottom: 15px;
    font-family: emoji;
}

.error-message {
    color: red;
    margin-bottom: 10px;
    text-align: left;
}



/* Responsive: Điều chỉnh kích thước cho màn hình di động */
@media (max-width: 480px) {
    .login-box {
        padding: 30px;
    }

    h2 {
        font-size: 20px;
    }

    .textbox input {
        padding: 12px;
    }

    .btn-login {
        padding: 12px;
    }

    .login-title{
        font-size: 15px;
    }
}
